#about-headr{
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.74);
    width: 100%;

    .navlist{
        // position: fixed;
        top: 0;
        // display: block;
    }
}


.about-top-poster{

    animation: firstanime 3s ease 1;

    height: 60vh;
    width: 100%;
    overflow: hidden;
    background: 
            linear-gradient(
                to right,
                rgba(black,0.9),
                rgba(rgb(85, 83, 83),0.5)
            ),
            url('../../images/office.jpg') center top;
        background-size: cover;

        h1{
            color: $secondary-color;
            font-weight: bold;
            font-size: 3rem;
            text-align: center;
            position: relative;
            top: 50%;
        }
        div{
            width: 30%;
            height: 45%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            left: 50%;
            transform: translate(-50%,-50%);
            
            svg{
                width: 1rem;
                margin: 0 auto;
                color: $secondary-color;
            }
            
            animation: scrolldown 1s ease infinite;
        }

        
}


#about-main-section{
    background: 
            linear-gradient(
                to right,
                rgba(black,0.7),
                rgba(black,0.5)
            ),
            url('../../images/mission.jpg') center top;
        background-size: cover;
}

.about-main-section{

    

        padding: 1rem;
        text-align: center;
        height: 100vh;
        // background-color: $third-color;
        overflow: hidden;
        display: flex;
        justify-content: center;
    
    div{
        margin: auto 0;
        
        
        
        h1{
            font-size: 2.5rem;
            font-weight: bold;
            color: $primary-color;
        }
        p{
            padding: 1rem;
            color: $secondary-color;
            font-size: 1rem;
            span{
                font-weight: bold;
                color: $primary-color;
                
            }
        }
    }
}


#about-second-section{
   
    background: 
    linear-gradient(
        to right,
        rgba(black,1),
        rgba(rgb(43, 42, 42),0.5)
    ),
    url('../../images/vision.jpg') center top;
    background-size: cover; 
    
}

.about-third-section{
    padding: 1rem;
    height: 100%;
    background-color: $third-color;
    display: flex;
    justify-content: center;

    div{
        display: flex;
        flex-direction: column;
        
        margin: auto 0;
        width: 90%;
        img{
            width: 100%;
        }

        div{
            
        text-align: center;
            margin: 0 auto;
        h1{
            padding: 1rem;
            font-size: 2rem;
            font-weight: bold;
            color: $secondary-color;
        }
        p{
            color: $forth-color;
        }
    }
    }

}

#about-forth-section{
    background-color: $primary-color;
}


@media screen and (min-width: 800px){

    .about-top-poster{
        div{
            height: 50%;
        }
    }

    .about-main-section{
        div{
            width: 50%;

            h1{
                font-size: 3rem;
            }
            p{
                font-size: 1.5rem;
            }
        }
    }

    .about-third-section{
        div{
            
            flex-direction: row;
            img{
                width: 50%;
            }

            div{
                margin: auto 0;
                width: 50%;
                display: flex;
                flex-direction: column;
            }
        }
    }

    #about-forth-section{
        div{
            flex-direction: row-reverse;
            div{
                margin: auto 0;
                width: 50%;
                display: flex;
                flex-direction: column;
            }
        }
    }

}