@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

// $primary-color: #3F2AB2;
$primary-color: #DC143C;
$secondary-color: white;
$third-color: black;
$forth-color: rgb(206, 198, 198);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



ul{
    list-style: none;
}


.viewmore-btn{
    background-color: $primary-color;
    color: $secondary-color;
    padding: 0.5rem;
    margin: 1rem;
    border: none;
    border-radius: 0.5rem;
    transition: 0.1s linear;

    &:hover{
        transform: scale(1.1, 1.1);
    }
}

.back-to-top{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: transparent;
    position: fixed;
    top: 70%;
    right: 1em;
    transition: 0.1s linear;
    z-index: 998;


    svg{
        width: 100%;
        color: $primary-color;
        transition: 0.1s linear;
        &:hover{
        
            transform: scale(1.2,1.2);
            
        }
    }

    
}








footer{
    text-align: center;
    background-color: rgb(245, 236, 236);
    color: $third-color;
    padding: 1rem;

    .footer-copy{
        
        font-size: 0.7rem;
    }
    

    .footer-address-div{
        padding: 1rem;
        width: 80%;
        margin: 0 auto;
        svg{
            width: 5%;
        }
    }

    .footer-social-media{
        padding: 1rem;
        width: 80%;
        margin: 0 auto;
        display: flex;
        li{
            list-style-type: none;
            
            svg{
                width: 40%;
            }
        }
    }

    .footer-number{
        width: 50%;
        padding: 1rem;
        margin: 0 auto;

        svg{
            width: 8%;
        }
    }
    
}


@media screen and (min-width: 800px) {

    .footer-div{
        display: flex;
        width: 90%;
        margin: 0 auto;

        div{
            margin: auto 0;
            width: 30%;
        }

        .footer-number{
            svg{
                width: 7%;
            }
        }
    }
    
}