$primary-color: #6C63FF;
$secondary-color: white;
$third-color: black;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ////////////////  COLORS  ////////////////////////////









footer{
    text-align: center;
}