.menu-icon {
    display: inline-block;
    cursor: pointer;
    width: 2.5em;

    svg{
      color: $primary-color;
      width: 100%;
    }
   
    
  }

 


  .nav-list {
    display: none;
    position:fixed;
    
    top: 0;
    left: 0;
    background-color: $secondary-color;
    width: 100%;
    height: 100vh;
    z-index: 999;

     animation: open-nav 0.2s linear;

    @keyframes open-nav {
      from{
        width: 0;
  
      }
      to{
        width: 100%;
  
      }
      
    }
    
      

    

      .menu-icon{
        position: absolute;
        right: 1em;
        top: 1em;
      }
    
    
    ul{
      width: 100%;
      height: 70%;
      padding-top: 5em;
      display: flex;
      flex-direction: column;
      place-content: space-between;
      

      li{
        
        margin: 0 auto;
      
        a{
            font-size: 2em;
            text-decoration: none;
            color: $primary-color;
        }
    }

    }
    
  }

  
  
  
  