.menu-icon {
    display: inline-block;
    cursor: pointer;
   
    
  }

  .bar1, .bar2, .bar3 {
    width: 40px;
    height: 5px;
    background-color: $primary-color;
    margin: 0.5em 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }
  
  