.menu-icon {
    display: inline-block;
    cursor: pointer;
    width: 3em;
    transition: 0.1s linear;

    svg{
      padding-top: 0.5rem;
      color: $primary-color;
      width: 100%;
    }

    &:hover{
      transform: scale(1.2,1.2);
    }
   
    
  }


 


  .nav-list {
    position:fixed;
    top: 0;
    left: 100%;
    background-color: $secondary-color;
    width: 100%;
    height: 100vh;
    z-index: 999;
    font-weight: bold;

     transition: 0.2s linear;

    
    
      

    

      .menu-icon{
        width: 2rem;
        position: absolute;
        right: 1rem;
        top: 1rem;
      }
    
    
    ul{
      width: 100%;
      height: 70%;
      padding-top: 5rem;
      display: flex;
      flex-direction: column;
      

      li{
        
        margin: 0 auto;
        padding-top: 2rem;
      
        a{
            font-size: 2rem;
            text-decoration: none;
            color: $primary-color;
            transition: 0.1s linear;

            &:hover{
              font-size: 2.5em;
            }
        }
        .active{
          font-size: 3rem;
          color: $third-color;
      }
      
    }

    }
    
  }

  .navlist{
    display: none;
    padding-top: 1em;
    position: absolute;
    right: 0;
    top: 100vh;
    // z-index: 999;

  
    

    div{
      display: flex;
      
      

      li{
        list-style: none;
        padding: 0 2em;
        
        

        a{
          text-decoration: none;
          color: $primary-color;
          transition: 0.1s linear;


          &:hover{
            font-size: 1rem;
            // background-color: $primary-color;
            // color: $secondary-color;
            
            padding: 0.5rem;
            border-top: 1px solid $primary-color;
            border-bottom: 1px solid $primary-color;
          }
          
        }
        .active{
          padding: 0.5rem;
          font-weight: bold;
            border-top: 1px solid $primary-color;
            border-bottom: 1px solid $primary-color;
        }
        
      }
    }
  }


  @media screen and (min-width: 900px) {
    .navlist{
      display: block;
    }

    .nav-list, .menu-icon{
      display: none;
    }
    
  }
  
  
  
  