#products-headr{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.74);
    z-index: 999;
    .navlist{
        top: 0;
    }
}

.products-main-section{
    
    

    .products-div-1{
        height: 50vh;
        background: 
            linear-gradient(
                to right,
                rgba(black,0.9),
                rgba($primary-color,0.7)
            ),url('../../images/trading1.jpg');
    background-position: center;
    background-size: cover;
        .product1-h1{
            padding: 1rem;
            background-color: rgba(255, 255, 255, 0.74);
            position: relative;
            float: left;
            top: 20%;
            color: $primary-color;
            font-size: 3rem;
            
        }

        

        

        .product1-h2{
            width: 100%;
            height: 60%;
            margin: 0;
            padding: 1rem;
            text-align: right;
            color: $secondary-color;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    #products-div-2{
        background: 
            linear-gradient(
                to right,
                rgba(black,0.9),
                rgba($primary-color,0.7)
            ),url('../../images/manufacture.jpg');
    background-position: center;
    background-size: cover;
    }
    #products-div-3{
        background: 
            linear-gradient(
                to right,
                rgba(black,0.9),
                rgba($primary-color,0.7)
            ),url('../../images/manpower.jpg');
    background-position: center;
    background-size: cover;
    }
    #products-div-4{
        background: 
            linear-gradient(
                to right,
                rgba(black,0.9),
                rgba($primary-color,0.7)
            ),url('../../images/inspect.jpg');
    background-position: bottom;
    background-size: cover;
    }
    #products-div-5{
        background: 
            linear-gradient(
                to right,
                rgba(black,0.9),
                rgba($primary-color,0.7)
            ),url('../../images/car4.jpg');
    background-position: center;
    background-size: cover;
    }
    #products-div-6{
        background: 
            linear-gradient(
                to right,
                rgba(black,0.9),
                rgba($primary-color,0.7)
            ),url('../../images/real estate.jpg');
    background-position: center;
    background-size: cover;
    }
    #products-div-7{
        background: 
            linear-gradient(
                to right,
                rgba(black,0.9),
                rgba($primary-color,0.7)
            ),url('../../images/custom.jpg');
    background-position: center;
    background-size: cover;
    }

    .product1-content{
        background-color: $secondary-color;
        padding: 1rem;
        font-size: 1.2rem;
        
    }

    .benifits-div{
        margin: 1rem;

        .product1-h3{
            color: $primary-color;
            padding: 1rem;
            font-weight: bold;
        }
        
        .benifits-content{

            width: 70%;
            margin: 0 auto;

            .benifits{
                text-align: center;
                color: $primary-color;
                img{
                    width: 50%;
                }
            }
        }

        
    
    
    }

    .features-div{
        h1{
            color: $primary-color;
            padding: 1rem;
            font-weight: bold;
        }

        ul{
            color: $primary-color;
            

            li{
                list-style-type: square;
                padding: 0.5rem;
            }
        }
    }

}

@media screen and (min-width: 800px) {

    .features-div{
        ul{
            display: flex;
            flex-wrap: wrap;
            place-content: space-around;

            li{
                width: 30%;
            }
        }
    }
    
    .benifits-content{
        width: 80%;
        display: flex;
        place-content: space-between;
        flex-wrap: wrap;

        .benifits{
            width: 30%;
        }

    }
}