#service-headr{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.74);
    z-index: 999;
    .navlist{
        top: 0;
    }
}


.service-top-poster{
    background: 
            linear-gradient(
                to right,
                rgba($primary-color,0.5),
                rgba(black,0.9)
            ),url('../../images/service-poster.jpg') fixed;
    background-position: bottom;
    background-size: cover;
    height: 40vh;
    h1{
        position: relative;
        text-align: center;
        top: 50%;
        color: $secondary-color;
    }
}

.service-main-section{
    // padding: 1rem;
    .services{
        width: 100%;
        padding: 2rem;
        margin: 0 auto;
        background-position: center;
        background-size: cover;

        

        .services-div{

            background-color: rgba(0, 0, 0, 0.733);
            border-radius: 2rem;
            padding: 1rem;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            color: $secondary-color;

            h1, h3{
                color: $primary-color;
                padding: 1rem;
                text-align: left;
                font-weight: bold;
            }
            h1{
                font-size: 1.5rem;
            }
            h3{
                font-size: 1.3rem;
            }
            p{
                padding: 1rem;
                font-size: 0.9rem;
                text-align: left;
                border-top: 1px solid $secondary-color;
                border-bottom: 1px solid $secondary-color;
            }

            ul{
                
                li{
                    border-left: 1px solid $secondary-color;
                    padding: 1rem;
                    list-style-type: square;
                    text-align: left;
                    font-size: 0.9rem;
                }
            }
        }
        

    
            

            
            

        

        

    }
}

    #services-1{
        background: 
            linear-gradient(
                to right,
                rgba(rgb(0, 0, 0),0.5),
                rgba(rgb(0, 0, 0),0.5)
            ),
            url('../../images/11.jpg') center fixed;
        background-size: cover;
    }
    #services-2{
        background: 
            linear-gradient(
                to right,
                rgba(rgb(0, 0, 0),0.5),
                rgba(rgb(0, 0, 0),0.5)
            ),
            url('../../images/12.jpg') center fixed;
        background-size: cover;
    }
    #services-3{
        background: 
            linear-gradient(
                to right,
                rgba(rgb(0, 0, 0),0.5),
                rgba(rgb(0, 0, 0),0.5)
            ),
            url('../../images/13.jpg') center fixed;
        background-size: cover;
    }
    #services-4{
        background: 
            linear-gradient(
                to right,
                rgba(rgb(0, 0, 0),0.5),
                rgba(rgb(0, 0, 0),0.5)
            ),
            url('../../images/14.jpg') center fixed;
        background-size: cover;
    }
    #services-5{
        background: 
            linear-gradient(
                to right,
                rgba(rgb(0, 0, 0),0.5),
                rgba(rgb(0, 0, 0),0.5)
            ),
            url('../../images/15.jpg') center fixed;
        background-size: cover;
    }




@media screen and (min-width: 800px) {


    .service-main-section{
    .services{
        



        .services-div{
            width: 60%;
            margin: 1rem auto;
           



            h1{
                font-size: 2rem;
            }
            h3{
                font-size: 1.5rem;
            }
            p{
                font-size: 1rem;
            }
            ul{
                li{
                    font-size: 1rem;
                }
            }
        }
    }

    
    
}
}
