#service-headr{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.74);
    z-index: 999;
    .navlist{
        top: 0;
    }
}


.service-top-poster{
    background: 
            linear-gradient(
                to right,
                rgba($primary-color,0.5),
                rgba(black,0.9)
            ),url('../../images/service-poster.jpg') fixed;
    background-position: bottom;
    background-size: cover;
    height: 40vh;
    h1{
        position: relative;
        text-align: center;
        top: 50%;
        color: $secondary-color;
    }
}

.service-main-section{
    width: 100%;
    // padding: 1rem;
    .services{
        width: 100%;
        padding: 2rem;
        margin: 0 auto;
        background-position: center;
        background-size: cover;

        .service-img{
            
            
        }
        

    
            

            
            

        

        .services-div{
            background-color: rgba(0, 0, 0, 0.514);
            border-radius: 2rem;
            padding: 1rem;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            color: $secondary-color;

            h1, h3{
                color: $primary-color;
                padding: 1rem;
                text-align: left;
                font-weight: bold;
            }
            h1{
                font-size: 1.5rem;
            }
            h3{
                font-size: 1.3rem;
            }
            p{
                list-style-type: square;
                padding: 1rem;
                font-size: 0.9rem;
                text-align: left;
            }

                ul{
                    
                    li{
                        text-align: left;
                        font-size: 0.9rem;
                        list-style-type: square;
                    
                    }
                }
            
            
        }

    }
}

    #services-1{
        background: 
            linear-gradient(
                to right,
                rgba(rgb(0, 0, 0),0.5),
                rgba(rgb(0, 0, 0),0.5)
            ),
            url('../../images/11.jpg') center fixed;
        background-size: cover;
    }




@media screen and (min-width: 800px) {

    .services{
        width: 100%;
        
        // height: 100vh;
        padding-bottom: 5rem;
        display: flex ;

        .service-img{
            display: block;
            width: 100%;
            margin: 1rem;
            transition: 0.2s linear;
            position: relative;

            &-img{
                width: 100%;
                height: 100%;
                border-radius: 2rem;
                position: relative;

                &:hover{
                    
                filter: blur(1px) grayscale(50%);
                }

                
            }
            
            
            // &-h1{
            //     display: block;
            //     color: $secondary-color;
            //     text-align: center;
            //     margin: auto 0;
            //     font-size: 1.5rem;
            
            // }

            // &:hover{
                
                
            //     color: $secondary-color;
                

            //     .service-img-h1{
            //         display: block;
            //     }


                
            // }
        }
        // #service-img-1{

        //     background: 
        //                     linear-gradient(
        //                             to right,
        //                             rgba(rgb(0, 0, 0),0.5),
        //                             rgba(rgb(5, 5, 5),0.5)
        //                             ),url('../../images/uidesign.jpg');
        //     background-position: center;
        //     background-size: cover;

        //     &:hover{
                
        //         background: 
        //                     linear-gradient(
        //                             to right,
        //                             rgba(rgb(0, 0, 0),0.7),
        //                             rgba(rgb(5, 5, 5),0.7)
        //                             ),url('../../images/uidesign.jpg');
        //         background-position: center;
        //         background-size: cover;
                
                
        //     }
        // }

        #service-img-2{
            background: 
                            linear-gradient(
                                    to right,
                                    rgba(rgb(0, 0, 0),0.4),
                                    rgba(rgb(5, 5, 5),0.4)
                                    ),url('../../images/mobiledevelop.jpg');
            background-position: center;
            background-size: cover;

            &:hover{
                background: 
                            linear-gradient(
                                    to right,
                                    rgba(rgb(0, 0, 0),0.7),
                                    rgba(rgb(5, 5, 5),0.7)
                                    ),url('../../images/mobiledevelop.jpg');
                background-position: center;
                background-size: cover;
            }
        }
        #service-img-3{
            background: 
                            linear-gradient(
                                    to right,
                                    rgba(rgb(0, 0, 0),0.4),
                                    rgba(rgb(5, 5, 5),0.4)
                                    ),url('../../images/webdevlop.jpg');
            background-position: center;
            background-size: cover;

            &:hover{
                background: 
                            linear-gradient(
                                    to right,
                                    rgba(rgb(0, 0, 0),0.7),
                                    rgba(rgb(5, 5, 5),0.7)
                                    ),url('../../images/webdevlop.jpg');
                background-position: center;
                background-size: cover;
            }
        }
        #service-img-4{
            background: 
                            linear-gradient(
                                    to right,
                                    rgba(rgb(0, 0, 0),0.4),
                                    rgba(rgb(5, 5, 5),0.4)
                                    ),url('../../images/digibrand.jpg');
            background-position: center;
            background-size: cover;

            &:hover{
                background: 
                            linear-gradient(
                                    to right,
                                    rgba(rgb(0, 0, 0),0.7),
                                    rgba(rgb(5, 5, 5),0.7)
                                    ),url('../../images/digibrand.jpg');
                background-position: center;
                background-size: cover;
            }
        }
        #service-img-5{
            background: 
                            linear-gradient(
                                    to right,
                                    rgba(rgb(0, 0, 0),0.4),
                                    rgba(rgb(5, 5, 5),0.4)
                                    ),url('../../images/digimarket.jpg');
            background-position: center;
            background-size: cover;

            &:hover{
                background: 
                            linear-gradient(
                                    to right,
                                    rgba(rgb(0, 0, 0),0.7),
                                    rgba(rgb(5, 5, 5),0.7)
                                    ),url('../../images/digimarket.jpg');
                background-position: center;
                background-size: cover;
            }
        }



        .services-div{
            position: relative;
            left: -50px;
            // top: 50px;
            margin: 1rem;



            h1{
                font-size: 2rem;
            }
            h3{
                font-size: 1.5rem;
            }
            p{
                font-size: 1rem;
            }
            ul{
                li{
                    font-size: 1rem;
                }
            }
        }
    }

    .services:nth-child(even){
        flex-direction: row-reverse;

        .services-div{
            left: 50px;
        }
    }
    
}
