#service-headr{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.74);
    z-index: 999;
    .navlist{
        top: 0;
    }
}


.service-top-poster{
    background: 
            linear-gradient(
                to right,
                rgba($primary-color,0.5),
                rgba(black,0.9)
            ),url('../../images/service-poster.jpg');
    background-position: center;
    background-size: cover;
    height: 40vh;
    h1{
        position: relative;
        text-align: center;
        top: 50%;
        color: $secondary-color;
    }
}

.service-main-section{
    width: 100%;
    padding: 1rem;
    .services{
        width: 90%;
        margin: 0 auto;
        // background-image: url('../../images/uiwatermark.png');
        background-position: center;
        background-size: cover;

        .service-img{
            height: 50vh;
            background: 
                            linear-gradient(
                                    to right,
                                    rgba(rgb(0, 0, 0),0.4),
                                    rgba(rgb(5, 5, 5),0.4)
                                    ),url('../../images/uidesign.jpg');
            background-position: center;
            background-size: cover;
            &-h1{
                position: relative;
                top: 50%;
                text-align: center;
                margin: auto 0;
                display: none;
                font-size: 1.5rem;
                
    
           
            }
            

            &:hover{
                
            transition: 0.2s linear;
                background: 
                            linear-gradient(
                                    to right,
                                    rgba(rgb(0, 0, 0),0.7),
                                    rgba(rgb(5, 5, 5),0.7)
                                    ),url('../../images/uidesign.jpg');
                
                color: $secondary-color;
                background-position: center;
                background-size: cover;

                .service-img-h1{
                    display: block;
                }


                
            }
            
        }

        #service-img-2{
            background: 
                            linear-gradient(
                                    to right,
                                    rgba(rgb(0, 0, 0),0.4),
                                    rgba(rgb(5, 5, 5),0.4)
                                    ),url('../../images/mobiledevelop.jpg');
            background-position: center;
            background-size: cover;

            &:hover{
                background: 
                            linear-gradient(
                                    to right,
                                    rgba(rgb(0, 0, 0),0.7),
                                    rgba(rgb(5, 5, 5),0.7)
                                    ),url('../../images/mobiledevelop.jpg');
                background-position: center;
                background-size: cover;
            }
        }
        #service-img-3{
            background: 
                            linear-gradient(
                                    to right,
                                    rgba(rgb(0, 0, 0),0.4),
                                    rgba(rgb(5, 5, 5),0.4)
                                    ),url('../../images/webdevlop.jpg');
            background-position: center;
            background-size: cover;

            &:hover{
                background: 
                            linear-gradient(
                                    to right,
                                    rgba(rgb(0, 0, 0),0.7),
                                    rgba(rgb(5, 5, 5),0.7)
                                    ),url('../../images/webdevlop.jpg');
                background-position: center;
                background-size: cover;
            }
        }
        #service-img-4{
            background: 
                            linear-gradient(
                                    to right,
                                    rgba(rgb(0, 0, 0),0.4),
                                    rgba(rgb(5, 5, 5),0.4)
                                    ),url('../../images/digibrand.jpg');
            background-position: center;
            background-size: cover;

            &:hover{
                background: 
                            linear-gradient(
                                    to right,
                                    rgba(rgb(0, 0, 0),0.7),
                                    rgba(rgb(5, 5, 5),0.7)
                                    ),url('../../images/digibrand.jpg');
                background-position: center;
                background-size: cover;
            }
        }
        #service-img-5{
            background: 
                            linear-gradient(
                                    to right,
                                    rgba(rgb(0, 0, 0),0.4),
                                    rgba(rgb(5, 5, 5),0.4)
                                    ),url('../../images/digimarket.jpg');
            background-position: center;
            background-size: cover;

            &:hover{
                background: 
                            linear-gradient(
                                    to right,
                                    rgba(rgb(0, 0, 0),0.7),
                                    rgba(rgb(5, 5, 5),0.7)
                                    ),url('../../images/digimarket.jpg');
                background-position: center;
                background-size: cover;
            }
        }

        .services-div{
            background-color: $secondary-color;
            padding: 1rem;
            width: 100%;
            margin: 0 auto;

            h1, h3{
                color: $primary-color;
                padding: 1rem;
            }
            .p-li{
                list-style-type: square;
                padding: 1rem;
            }

                ul{
                    
                    li{
                        list-style-type: disc;
                    
                    }
                }
            
            
        }

    }
}

@media screen and (min-width: 800px) {

    .services{
        width: 100%;
        padding-bottom: 5rem;
        display: flex;

        .service-img{
            width: 80%;
            
        }

        .services-div{
            position: relative;
            left: -50px;
            top: 50px;
        }
    }

    .services:nth-child(even){
        flex-direction: row-reverse;

        .services-div{
            left: 50px;
        }
    }
    
}