@import 'config';
@import 'menu';
@import 'about';
@import 'contact';
@import 'products';
@import 'services';





.top-poster{

    animation: firstanime 3s ease 1;

    @keyframes firstanime {
        0%{
            height: 100vh;

            
        }
        100%{
            height: 60vh;

            

            
        }
        
    }


    height: 60vh;
    width: 100%;
    overflow: hidden;
    background: 
            linear-gradient(
                to right,
                rgba(rgb(0, 0, 0),0.8),
                rgba(rgb(0, 0, 0),0.8)
            ),
            url('../../images/mainbg.jpg') center top;
        background-size: cover;
    

    .top-poster-content{
        position: relative;
        top: 50%;
        left: 50%;

        animation: firstanime2 3s ease 1;

        @keyframes firstanime2 {
            0%{
                left: -20%;
            }
            100%{
                left: 50%;
            }
            
        }
        
    transform: translate(-50%,-50%);
        width: 20%;
        height: 20%;

        img{
            width: 100%;
        }
        h1{
            color: $primary-color;
            text-align: center;
        }
    }
    #scroll{
        width: 30%;
        height: 45%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            transform: translate(-50%,-50%);
            position: relative;
            left: 50%;
            
            svg{
                width: 1rem;
                margin: 0 auto;
                color: $secondary-color;
            }

            animation: scrolldown 1s ease infinite;


        }
        @keyframes scrolldown {
            0% {
                top: 55%;
                
            }
            
            100%{
                top: 57%;
            }
            
        }

   

}

.headr{
    overflow: hidden;
    background-color: $secondary-color;
    height: 4em;
    margin: auto 0;
    display: flex;
    place-content: space-between;
    padding: 0 1em;
    position: sticky;
    top: 0;
    z-index: 999;

    img{
        height: 100%;
    }
    .navlist{
        position: absolute;
        top: 0;
    }
}



 

.main-main-section{
    text-align: center;
    padding: 1rem;
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    
    animation: mainsectionanim 4s ease 1;

    @keyframes mainsectionanim {
        0%{
            padding-top: 20rem;
            opacity: 0;
        }

        100%{
            padding-top: 1rem;
            opacity: 100%;
        }
        
    }

   


    

 
    #main-img{
        width: 100%;
        border-radius: 2rem;
        padding: 1rem;

    }
    h1{
        color: $primary-color;
        font-weight: bold;
        padding: 1rem;
        font-size: 1.5rem;
        
    }
    p{
        font-weight: bold;
        font-size: 0.9rem;

        
    }

}


.main-about-us{
    width: 90%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin: 0 auto;

    img{
        width: 100%;
        padding: 1rem;
        border-radius: 2rem;
        
    }
    .about-div{
        
        padding: 1rem;
        text-align: center;
        h1{
            font-weight: bold;
            color: $primary-color;
            font-size: 1.5rem;
        }
        p{
            font-weight: bold;
            font-size: 0.9rem;
            
        }
        
    }
}
.main-second-section{
    
    text-align: center;
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
    h1{
        color: $primary-color;
        font-weight: bold;
        font-size: 1.5rem;
    }
    p{
        font-weight: bold;
        font-size: 0.9rem;
    }

    #sec-sec{
        display: flex;
        flex-direction: column;

        .products{
            padding: 1rem;
            margin: 0 auto; 
            width: 100%;
            transition: 0.1s linear;

            img{
                width: 90%;
                padding: 1rem;
            }

            &:hover{
                background-color: rgba(212, 212, 212, 0.377);
                transform: scale(1.1,1.1);
                cursor: pointer;
            }
        }
    }
}

.main-third-section{
    width: 100%;
    padding: 1rem;
    
    
    &-img{
        margin: 0 auto;
        width: 90%;
        img{
            width: 100%;
            border-radius: 1rem;
        }
    }

    &-div{
        text-align: center;

        h1{
            color: $primary-color;
            font-weight: bold;
            padding: 1rem;
            font-size: 1.5rem;
        }
        p{
            font-weight: bold;
            font-size: 0.9rem;
        }
    }
}



.contact-icon {
    width: 3em;
    height: 3em;
    padding: 0.7em;
    border-radius: 50%;
    background-color: $primary-color;
    position: fixed;
    bottom: 1em;
    right: 1em;
    transition: 0.1s linear;
    z-index: 998;


    svg{
        
        color: $secondary-color;
    }

    &:hover{
        
        transform: scale(1.2,1.2);
        
    }
    
    
}

.social-media-icons{
    display: none;
    position: fixed;
    bottom: 1rem;
    left: 0;
    li{
        list-style: none;
        width: 2.5em;
        height: 2.5em;
        padding: 0.5em;
        border-radius: 50%;
        background-color: $primary-color;
        margin: 0.5em;
        transition: 0.1s linear;

        &:hover{
        
            transform: scale(1.2,1.2);
            
        }
    
        svg{
            width: 100%;
            color: $secondary-color;
        }
    }
    
}


@media screen and (min-width: 900px) {
    

    .top-poster{
        // height: 80vh;

        .top-poster-content{
            width: 10%;
            height: 10%;
        }
        #scroll{
            height: 50%;
        }

        

    }

    .main-main-section{
        flex-direction: row;
        // height: 80vh;
        h1{
            font-size: 2rem;
        }
        p{
            font-size: 1rem;
        }
        

        #main-img{
            width: 50%;
            
            
        }
        .main-para{
            margin: auto 0;
           
        }
    }

    .main-about-us{
        flex-direction: row-reverse;
        
        img{
            width: 50%;
        }
        .about-div{
            margin: auto 0;

            h1{
                font-size: 2rem;
            }
            p{
                font-size: 1rem;
            }
    
        }
    }

    .main-second-section{

        h1{
            font-size: 2rem;
        }
        p{
            font-size: 1rem;
        }


        #sec-sec{
            flex-direction: row;
            flex-wrap: wrap;
            h1{
                font-size: 2rem;
            }

            .products{
                width: 30%;
            }
        }
    }

    .main-third-section{
        width: 90%;
        margin: 0 auto;
        display: flex;
        h1{
            font-size: 2rem;
        }
        p{
            font-size: 1rem;
        }


        &-div{
            padding: 1rem;
            margin: auto 0;
        }



    }

    #main-forth-section{
        flex-direction: row-reverse;
    }

    .social-media-icons{
        display: block;
    }
    
}