@import 'config';
@import 'menu';



.top-poster{
    height: 50vh;
    width: 100%;
    overflow: hidden;
    background-image: url(../../images/posterlogo.png);
    background-size: cover;
    background-position: center;

}

#headr{
    overflow: hidden;
    background-color: $secondary-color;
    height: 4em;
    margin: auto 0;
    display: flex;
    place-content: space-between;
    padding: 0 1em;

    img{
        height: 100%;
    }
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    .navlist{
        position: absolute;
        top: 0;
    }
  }

  .sticky + .main-main-section{
      padding-top: 60px;
  }

 

.main-main-section{
    text-align: center;
    padding: 3em;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;


    

 
    #main-img{
        width: 100%;
        border-radius: 3em;
        padding: 1em;

    }
    h1{
        color: $primary-color;
        font-weight: bold;
    }

}


.main-second-section{
    
    text-align: center;
    padding: 2em;
    width: 90%;
    margin: 0 auto;
    h1{
        color: $primary-color;
        font-weight: bold;
    }

    #sec-sec{
        display: flex;
        flex-direction: column;

        .products{
            padding: 1em;
            margin: 0 auto; 
            width: 100%;

            img{
                width: 90%;
                padding: 1em;
            }
        }
    }
}

.contact-icon {
    width: 3em;
    height: 3em;
    padding: 0.7em;
    border-radius: 50%;
    background-color: $primary-color;
    position: fixed;
    bottom: 1em;
    right: 1em;
    transition: 0.1s linear;


    svg{
        
        color: $secondary-color;
    }

    &:hover{
        
        transform: scale(1.2,1.2);
        
    }
    
    
}

.social-media-icons{
    position: fixed;
    bottom: 1em;
    left: 0;
    li{
        list-style: none;
        width: 2.5em;
        height: 2.5em;
        padding: 0.5em;
        border-radius: 50%;
        background-color: $primary-color;
        margin: 0.5em;
        transition: 0.1s linear;

        &:hover{
        
            transform: scale(1.2,1.2);
            
        }
    
        svg{
            width: 100%;
            color: $secondary-color;
        }
    }
    
}


@media screen and (min-width: 800px) {
    .top-poster{
        height: 80vh;
    }

    .main-main-section{
        flex-direction: row;
        height: 80vh;

        

        #main-img{
            width: 60%;
        }
        .main-para{
            margin: auto 0;
        }
    }

    .main-second-section{

        #sec-sec{
            flex-direction: row;
            flex-wrap: wrap;
            h1{
                font-size: 2rem;
            }

            .products{
                width: 30%;
            }
        }
    }
    
}