@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

.viewmore-btn {
  background-color: #DC143C;
  color: white;
  padding: 0.5rem;
  margin: 1rem;
  border: none;
  border-radius: 0.5rem;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  font-size: 0.7rem;
}

.viewmore-btn:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.back-to-top {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: transparent;
  position: fixed;
  top: 70%;
  right: 1em;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  z-index: 998;
}

.back-to-top svg {
  width: 100%;
  color: #DC143C;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.back-to-top svg:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

footer {
  text-align: center;
  background-color: #f5ecec;
  color: black;
  padding: 1rem;
}

footer .footer-copy {
  font-size: 0.7rem;
}

footer .footer-address-div {
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
}

footer .footer-address-div svg {
  width: 5%;
}

footer .footer-social-media {
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-social-media li {
  list-style-type: none;
}

footer .footer-social-media li svg {
  width: 40%;
}

footer .footer-number {
  width: 50%;
  padding: 1rem;
  margin: 0 auto;
}

footer .footer-number svg {
  width: 8%;
}

@media screen and (min-width: 800px) {
  .footer-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 0 auto;
  }
  .footer-div div {
    margin: auto 0;
    width: 30%;
  }
  .footer-div .footer-number svg {
    width: 5%;
  }
  .footer-div .footer-number span {
    padding: 0.5rem;
  }
  .viewmore-btn {
    font-size: 1rem;
  }
}

.menu-icon {
  display: inline-block;
  cursor: pointer;
  width: 3em;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.menu-icon svg {
  padding-top: 0.5rem;
  color: #DC143C;
  width: 100%;
}

.menu-icon:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.nav-list {
  position: fixed;
  top: 0;
  left: 100%;
  background-color: white;
  width: 100%;
  height: 100vh;
  z-index: 999;
  font-weight: bold;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.nav-list .menu-sidelogo {
  width: 30%;
  position: absolute;
  left: 5%;
  top: 1%;
}

.nav-list .menu-icon {
  width: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.nav-list ul {
  width: 100%;
  height: 70%;
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-list ul li {
  width: 90%;
  border-bottom: 0.5px solid #bbacac;
  padding-top: 2rem;
}

.nav-list ul li a {
  font-size: 1rem;
  text-decoration: none;
  color: #DC143C;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  display: inline-block;
  position: relative;
  color: #DC143C;
}

.nav-list ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #DC143C;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.nav-list ul li a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.nav-list ul li .active::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  font-weight: bold;
}

.navlist {
  display: none;
  padding-top: 1em;
  position: absolute;
  right: 0;
  top: 100vh;
}

.navlist div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navlist div li {
  list-style: none;
  padding: 0 2em;
}

.navlist div li a {
  text-decoration: none;
  color: #DC143C;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.navlist div li a:hover {
  font-size: 1rem;
  padding: 0.5rem;
  border-top: 1px solid #DC143C;
  border-bottom: 1px solid #DC143C;
}

.navlist div li .active {
  padding: 0.5rem;
  font-weight: bold;
  border-top: 1px solid #DC143C;
  border-bottom: 1px solid #DC143C;
}

@media screen and (min-width: 900px) {
  .navlist {
    display: block;
  }
  .nav-list, .menu-icon {
    display: none;
  }
}

#about-headr {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.74);
  width: 100%;
}

#about-headr .navlist {
  top: 0;
}

.about-top-poster {
  -webkit-animation: firstanime 3s ease 1;
          animation: firstanime 3s ease 1;
  height: 60vh;
  width: 100%;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../../images/office.jpg") center top;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../images/office.jpg") center top;
  background-size: cover;
}

.about-top-poster h1 {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-animation: aboutanime 3s ease 1;
          animation: aboutanime 3s ease 1;
}

@-webkit-keyframes aboutanime {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 100%;
  }
}

@keyframes aboutanime {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 100%;
  }
}

.about-top-poster div {
  width: 30%;
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: scrolldown 1s ease infinite;
          animation: scrolldown 1s ease infinite;
}

.about-top-poster div svg {
  width: 1rem;
  margin: 0 auto;
  color: white;
}

#about-main-section {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.5))), url("../../images/mission.jpg") center top fixed;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../../images/mission.jpg") center top fixed;
  background-size: cover;
}

.about-main-section {
  padding: 1rem;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-main-section div {
  margin: auto 0;
}

.about-main-section div h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.about-main-section div p {
  padding: 1rem;
  color: white;
  font-size: 1rem;
}

.about-main-section div p span {
  font-weight: bold;
  color: #DC143C;
}

#about-second-section {
  background: -webkit-gradient(linear, left top, right top, from(black), to(rgba(43, 42, 42, 0.5))), url("../../images/vision.jpg") center top fixed;
  background: linear-gradient(to right, black, rgba(43, 42, 42, 0.5)), url("../../images/vision.jpg") center top fixed;
  background-size: cover;
}

.about-third-section {
  margin: 1rem 0;
  padding: 1rem;
  height: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-third-section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto 0;
  width: 90%;
}

.about-third-section div img {
  width: 100%;
  border-radius: 2rem;
}

.about-third-section div div {
  text-align: center;
  margin: 0 auto;
}

.about-third-section div div h1 {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #DC143C;
}

.about-third-section div div p {
  color: black;
  font-size: 0.9rem;
}

@media screen and (min-width: 800px) {
  .about-top-poster div {
    height: 50%;
  }
  .about-main-section div {
    width: 50%;
  }
  .about-main-section div h1 {
    font-size: 3rem;
  }
  .about-main-section div p {
    font-size: 1.5rem;
  }
  .about-third-section div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about-third-section div img {
    width: 50%;
  }
  .about-third-section div div {
    margin: auto 0;
    padding: 1rem;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-forth-section div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #about-forth-section div div {
    margin: auto 0;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#contact-headr {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 999;
}

#contact-headr .navlist {
  top: 0;
}

.contact-page {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, right top, from(rgba(220, 20, 60, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../../images/begin.jpg") top;
  background: linear-gradient(to right, rgba(220, 20, 60, 0.8), rgba(0, 0, 0, 0.8)), url("../../images/begin.jpg") top;
  background-size: cover;
}

.contact-page .contact-side-text {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-page .contact-side-text h1 {
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 5rem;
  color: white;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.contact-page .contact-body-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  padding: 1rem;
}

.contact-page .contact-body-section form {
  width: 100%;
  padding: 5rem 0;
}

.contact-page .contact-body-section form ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.589);
}

.contact-page .contact-body-section form :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.589);
}

.contact-page .contact-body-section form ::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.589);
}

.contact-page .contact-body-section form ::placeholder {
  color: rgba(255, 255, 255, 0.589);
}

.contact-page .contact-body-section form span {
  color: white;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.contact-page .contact-body-section form input, .contact-page .contact-body-section form textarea {
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 0.1rem solid white;
  margin-bottom: 1rem;
  color: white;
}

.contact-page .contact-body-section .contact-info {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url("../../images/smart.jpg") center top;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../../images/smart.jpg") center top;
  background-size: cover;
  color: #DC143C;
  padding: 1rem;
}

.contact-page .contact-body-section .contact-info span {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.contact-page .contact-body-section .contact-info .contact-info-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

.contact-page .contact-body-section .contact-info .contact-info-div li {
  list-style-type: none;
  padding: 5%;
  width: 30%;
}

.contact-page .contact-body-section .contact-info .contact-info-div li svg {
  width: 70%;
}

.contact-page .contact-body-section .contact-info .contact-info-div div li {
  width: 100%;
  margin: 0;
}

.contact-page .contact-body-section .contact-info .contact-info-div div li svg {
  width: 10%;
}

.contact-page .contact-body-section .contact-info .contact-info-div div li span {
  display: inline-block;
  font-size: 1rem;
}

@media screen and (min-width: 800px) and (max-width: 1100px) {
  .contact-page {
    height: 100vh;
  }
  .contact-page .contact-body-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-page .contact-body-section form {
    width: 60%;
    margin: auto 1rem;
  }
  .contact-page .contact-body-section .contact-info {
    padding: 1rem;
    width: 30%;
    margin: auto 1rem;
  }
  .contact-page .contact-body-section .contact-info .contact-info-div {
    margin: 0 auto;
    width: 100%;
  }
  .contact-page .contact-body-section .contact-info .contact-info-div li svg {
    width: 100%;
  }
}

@media screen and (min-width: 1100px) {
  .contact-page {
    height: 100vh;
  }
  .contact-page .contact-body-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-page .contact-body-section form {
    width: 60%;
    margin: auto 1rem;
  }
  .contact-page .contact-body-section .contact-info {
    padding: 1rem;
    width: 30%;
    margin: auto 1rem;
  }
  .contact-page .contact-body-section .contact-info .contact-info-div {
    margin: 0 auto;
    width: 70%;
  }
  .contact-page .contact-body-section .contact-info .contact-info-div li {
    padding: 8%;
  }
  .contact-page .contact-body-section .contact-info .contact-info-div li svg {
    width: 100%;
  }
}

#products-headr {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.74);
  z-index: 999;
}

#products-headr .navlist {
  top: 0;
}

.products-main-section .products-div-1 {
  height: 50vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), to(rgba(220, 20, 60, 0.7))), url("../../images/trading1.jpg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(220, 20, 60, 0.7)), url("../../images/trading1.jpg");
  background-position: center;
  background-size: cover;
}

.products-main-section .products-div-1 .product1-h1 {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.74);
  position: relative;
  float: left;
  top: 20%;
  color: #DC143C;
  font-size: 3rem;
}

.products-main-section .products-div-1 .product1-h2 {
  width: 100%;
  height: 60%;
  margin: 0;
  font-size: 2rem;
  padding: 1rem;
  text-align: right;
  color: white;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.products-main-section #products-div-2 {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), to(rgba(220, 20, 60, 0.7))), url("../../images/manufacture.jpg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(220, 20, 60, 0.7)), url("../../images/manufacture.jpg");
  background-position: center;
  background-size: cover;
}

.products-main-section #products-div-3 {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), to(rgba(220, 20, 60, 0.7))), url("../../images/manpower.jpg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(220, 20, 60, 0.7)), url("../../images/manpower.jpg");
  background-position: center;
  background-size: cover;
}

.products-main-section #products-div-4 {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), to(rgba(220, 20, 60, 0.7))), url("../../images/inspect.jpg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(220, 20, 60, 0.7)), url("../../images/inspect.jpg");
  background-position: bottom;
  background-size: cover;
}

.products-main-section #products-div-5 {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), to(rgba(220, 20, 60, 0.7))), url("../../images/car4.jpg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(220, 20, 60, 0.7)), url("../../images/car4.jpg");
  background-position: center;
  background-size: cover;
}

.products-main-section #products-div-6 {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), to(rgba(220, 20, 60, 0.7))), url("../../images/real estate.jpg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(220, 20, 60, 0.7)), url("../../images/real estate.jpg");
  background-position: center;
  background-size: cover;
}

.products-main-section #products-div-7 {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.9)), to(rgba(220, 20, 60, 0.7))), url("../../images/custom.jpg");
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(220, 20, 60, 0.7)), url("../../images/custom.jpg");
  background-position: center;
  background-size: cover;
}

.products-main-section .product1-content {
  background-color: white;
  padding: 1rem;
  font-size: 0.9rem;
}

.products-main-section .benifits-div {
  margin: 1rem;
  text-align: center;
}

.products-main-section .benifits-div .product1-h3 {
  color: #DC143C;
  text-align: left;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.products-main-section .benifits-div .benifits-content {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.products-main-section .benifits-div .benifits-content .benifits {
  color: #DC143C;
  padding: 1rem;
}

.products-main-section .benifits-div .benifits-content .benifits img {
  width: 30%;
  padding: 1rem;
}

.products-main-section .benifits-div .benifits-content .benifits p {
  color: black;
  font-size: 0.9rem;
}

.products-main-section .features-div h1 {
  color: #DC143C;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.products-main-section .features-div ul {
  color: #DC143C;
}

.products-main-section .features-div ul li {
  list-style-type: square;
  padding: 0.5rem;
  font-size: 0.9rem;
}

@media screen and (min-width: 900px) {
  .product1-content {
    font-size: 1rem;
  }
  .features-div h1 {
    font-size: 2rem;
  }
  .features-div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    place-content: space-around;
  }
  .features-div ul li {
    width: 30%;
    font-size: 1rem;
  }
  .benifits-div .product1-h3 {
    font-size: 2rem;
  }
  .benifits-div .benifits-content {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .benifits-div .benifits-content .benifits {
    width: 30%;
  }
}

#service-headr {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.74);
  z-index: 999;
}

#service-headr .navlist {
  top: 0;
}

.service-top-poster {
  background: -webkit-gradient(linear, left top, right top, from(rgba(220, 20, 60, 0.5)), to(rgba(0, 0, 0, 0.9))), url("../../images/service-poster.jpg") fixed;
  background: linear-gradient(to right, rgba(220, 20, 60, 0.5), rgba(0, 0, 0, 0.9)), url("../../images/service-poster.jpg") fixed;
  background-position: bottom;
  background-size: cover;
  height: 40vh;
}

.service-top-poster h1 {
  position: relative;
  text-align: center;
  top: 50%;
  color: white;
}

.service-main-section {
  width: 100%;
}

.service-main-section .services {
  width: 100%;
  padding: 2rem;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
}

.service-main-section .services .services-div {
  background-color: rgba(0, 0, 0, 0.514);
  border-radius: 2rem;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.service-main-section .services .services-div h1, .service-main-section .services .services-div h3 {
  color: #DC143C;
  padding: 1rem;
  text-align: left;
  font-weight: bold;
}

.service-main-section .services .services-div h1 {
  font-size: 1.5rem;
}

.service-main-section .services .services-div h3 {
  font-size: 1.3rem;
}

.service-main-section .services .services-div p {
  list-style-type: square;
  padding: 1rem;
  font-size: 0.9rem;
  text-align: left;
}

.service-main-section .services .services-div ul li {
  text-align: left;
  font-size: 0.9rem;
  list-style-type: square;
}

#services-1 {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../../images/11.jpg") center fixed;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/11.jpg") center fixed;
  background-size: cover;
}

@media screen and (min-width: 800px) {
  .services {
    width: 100%;
    padding-bottom: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .services .service-img {
    display: block;
    width: 100%;
    margin: 1rem;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    position: relative;
  }
  .services .service-img-img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    position: relative;
  }
  .services .service-img-img:hover {
    -webkit-filter: blur(1px) grayscale(50%);
            filter: blur(1px) grayscale(50%);
  }
  .services #service-img-2 {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(5, 5, 5, 0.4))), url("../../images/mobiledevelop.jpg");
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(5, 5, 5, 0.4)), url("../../images/mobiledevelop.jpg");
    background-position: center;
    background-size: cover;
  }
  .services #service-img-2:hover {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(5, 5, 5, 0.7))), url("../../images/mobiledevelop.jpg");
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(5, 5, 5, 0.7)), url("../../images/mobiledevelop.jpg");
    background-position: center;
    background-size: cover;
  }
  .services #service-img-3 {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(5, 5, 5, 0.4))), url("../../images/webdevlop.jpg");
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(5, 5, 5, 0.4)), url("../../images/webdevlop.jpg");
    background-position: center;
    background-size: cover;
  }
  .services #service-img-3:hover {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(5, 5, 5, 0.7))), url("../../images/webdevlop.jpg");
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(5, 5, 5, 0.7)), url("../../images/webdevlop.jpg");
    background-position: center;
    background-size: cover;
  }
  .services #service-img-4 {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(5, 5, 5, 0.4))), url("../../images/digibrand.jpg");
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(5, 5, 5, 0.4)), url("../../images/digibrand.jpg");
    background-position: center;
    background-size: cover;
  }
  .services #service-img-4:hover {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(5, 5, 5, 0.7))), url("../../images/digibrand.jpg");
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(5, 5, 5, 0.7)), url("../../images/digibrand.jpg");
    background-position: center;
    background-size: cover;
  }
  .services #service-img-5 {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(5, 5, 5, 0.4))), url("../../images/digimarket.jpg");
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(5, 5, 5, 0.4)), url("../../images/digimarket.jpg");
    background-position: center;
    background-size: cover;
  }
  .services #service-img-5:hover {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(5, 5, 5, 0.7))), url("../../images/digimarket.jpg");
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(5, 5, 5, 0.7)), url("../../images/digimarket.jpg");
    background-position: center;
    background-size: cover;
  }
  .services .services-div {
    position: relative;
    left: -50px;
    margin: 1rem;
  }
  .services .services-div h1 {
    font-size: 2rem;
  }
  .services .services-div h3 {
    font-size: 1.5rem;
  }
  .services .services-div p {
    font-size: 1rem;
  }
  .services .services-div ul li {
    font-size: 1rem;
  }
  .services:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .services:nth-child(even) .services-div {
    left: 50px;
  }
}

.top-poster {
  -webkit-animation: firstanime 3s ease 1;
          animation: firstanime 3s ease 1;
  height: 60vh;
  width: 100%;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("../../images/mainbg.jpg") center top fixed;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../images/mainbg.jpg") center top fixed;
  background-size: cover;
}

@-webkit-keyframes firstanime {
  0% {
    height: 100vh;
  }
  100% {
    height: 60vh;
  }
}

@keyframes firstanime {
  0% {
    height: 100vh;
  }
  100% {
    height: 60vh;
  }
}

.top-poster .top-poster-content {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-animation: firstanime2 3s ease 1;
          animation: firstanime2 3s ease 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20%;
  height: 20%;
}

@-webkit-keyframes firstanime2 {
  0% {
    left: -20%;
  }
  100% {
    left: 50%;
  }
}

@keyframes firstanime2 {
  0% {
    left: -20%;
  }
  100% {
    left: 50%;
  }
}

.top-poster .top-poster-content img {
  width: 100%;
}

.top-poster .top-poster-content h1 {
  color: #DC143C;
  text-align: center;
}

.top-poster #scroll {
  width: 30%;
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  -webkit-animation: scrolldown 1s ease infinite;
          animation: scrolldown 1s ease infinite;
}

.top-poster #scroll svg {
  width: 1rem;
  margin: 0 auto;
  color: white;
}

@-webkit-keyframes scrolldown {
  0% {
    top: 55%;
  }
  100% {
    top: 57%;
  }
}

@keyframes scrolldown {
  0% {
    top: 55%;
  }
  100% {
    top: 57%;
  }
}

.headr {
  overflow: hidden;
  background-color: white;
  height: 4em;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  padding: 0 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.headr img {
  height: 100%;
}

.headr .navlist {
  position: absolute;
  top: 0;
}

.main-main-section {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))), url("../../images/main-back-5.jpg") bottom fixed;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../../images/main-back-5.jpg") bottom fixed;
  background-size: cover;
  text-align: center;
  padding: 1rem;
  width: 100%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: mainsectionanim 4s ease 1;
          animation: mainsectionanim 4s ease 1;
}

@-webkit-keyframes mainsectionanim {
  0% {
    padding-top: 20rem;
    opacity: 0;
  }
  100% {
    padding-top: 1rem;
    opacity: 100%;
  }
}

@keyframes mainsectionanim {
  0% {
    padding-top: 20rem;
    opacity: 0;
  }
  100% {
    padding-top: 1rem;
    opacity: 100%;
  }
}

.main-main-section #main-img {
  width: 100%;
  border-radius: 2rem;
  padding: 1rem;
}

.main-main-section h1 {
  color: #DC143C;
  font-weight: bold;
  padding: 1rem;
  font-size: 1.5rem;
}

.main-main-section p {
  font-weight: bold;
  font-size: 0.9rem;
}

.main-about-us {
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.main-about-us img {
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;
}

.main-about-us .about-div {
  padding: 1rem;
  text-align: center;
}

.main-about-us .about-div h1 {
  font-weight: bold;
  color: #DC143C;
  font-size: 1.5rem;
}

.main-about-us .about-div p {
  font-weight: bold;
  font-size: 0.9rem;
}

.main-second-section {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  margin: 1rem auto;
  border-top: 1px solid #DC143C;
  border-bottom: 1px solid #DC143C;
}

.main-second-section #sec-h1 {
  color: #DC143C;
  font-weight: bold;
  font-size: 1.5rem;
}

.main-second-section #sec-p {
  font-size: 0.9rem;
  padding: 1rem;
}

.main-second-section #sec-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main-second-section #sec-sec .products {
  margin: 0 auto;
  width: 100%;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  place-content: space-around;
  overflow: hidden;
}

.main-second-section #sec-sec .products .products-img {
  height: 50vh;
  width: 100%;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  position: relative;
}

.main-second-section #sec-sec .products .products-img .products-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main-second-section #sec-sec .products .products-img .products-text h1 {
  color: white;
}

.main-second-section #sec-sec .products .products-img .products-text p {
  margin: 1rem;
  padding: 1rem;
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.main-second-section #sec-sec .products #products-img-1 {
  background: -webkit-gradient(linear, right top, left top, from(rgba(220, 20, 60, 0.5)), to(rgba(0, 0, 0, 0.9))), url("../../images/des.jpg") center;
  background: linear-gradient(to left, rgba(220, 20, 60, 0.5), rgba(0, 0, 0, 0.9)), url("../../images/des.jpg") center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.main-second-section #sec-sec .products #products-img-1:hover {
  background-size: 110%;
}

.main-second-section #sec-sec .products #products-img-2 {
  background: -webkit-gradient(linear, left top, right top, from(rgba(220, 20, 60, 0.5)), to(rgba(0, 0, 0, 0.9))), url("../../images/mob.jpg") center;
  background: linear-gradient(to right, rgba(220, 20, 60, 0.5), rgba(0, 0, 0, 0.9)), url("../../images/mob.jpg") center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.main-second-section #sec-sec .products #products-img-2:hover {
  background-size: 110%;
}

.main-second-section #sec-sec .products #products-img-3 {
  background: -webkit-gradient(linear, right top, left top, from(rgba(220, 20, 60, 0.5)), to(rgba(0, 0, 0, 0.9))), url("../../images/webb.jpg") center;
  background: linear-gradient(to left, rgba(220, 20, 60, 0.5), rgba(0, 0, 0, 0.9)), url("../../images/webb.jpg") center;
  background-size: 200%;
  background-repeat: no-repeat;
}

.main-second-section #sec-sec .products #products-img-3:hover {
  background-size: 210%;
}

.main-second-section #sec-sec .products #products-img-4 {
  background: -webkit-gradient(linear, left top, right top, from(rgba(220, 20, 60, 0.5)), to(rgba(0, 0, 0, 0.9))), url("../../images/soft.jpg") center;
  background: linear-gradient(to right, rgba(220, 20, 60, 0.5), rgba(0, 0, 0, 0.9)), url("../../images/soft.jpg") center;
  background-size: 200%;
  background-repeat: no-repeat;
}

.main-second-section #sec-sec .products #products-img-4:hover {
  background-size: 210%;
}

.main-second-section #sec-sec .products #products-img-5 {
  background: -webkit-gradient(linear, right top, left top, from(rgba(220, 20, 60, 0.5)), to(rgba(0, 0, 0, 0.9))), url("../../images/bran.jpg") center;
  background: linear-gradient(to left, rgba(220, 20, 60, 0.5), rgba(0, 0, 0, 0.9)), url("../../images/bran.jpg") center;
  background-size: 200%;
  background-repeat: no-repeat;
}

.main-second-section #sec-sec .products #products-img-5:hover {
  background-size: 210%;
}

.main-second-section #sec-sec .products #products-img-6 {
  background: -webkit-gradient(linear, left top, right top, from(rgba(220, 20, 60, 0.5)), to(rgba(0, 0, 0, 0.9))), url("../../images/mark.jpg") center;
  background: linear-gradient(to right, rgba(220, 20, 60, 0.5), rgba(0, 0, 0, 0.9)), url("../../images/mark.jpg") center;
  background-size: 200%;
  background-repeat: no-repeat;
}

.main-second-section #sec-sec .products #products-img-6:hover {
  background-size: 210%;
}

.main-third-section {
  width: 100%;
  padding: 1rem;
}

.main-third-section-img {
  margin: 0 auto;
  width: 90%;
}

.main-third-section-img img {
  width: 100%;
  border-radius: 1rem;
}

.main-third-section-div {
  text-align: center;
}

.main-third-section-div h1 {
  color: #DC143C;
  font-weight: bold;
  padding: 1rem;
  font-size: 1.5rem;
}

.main-third-section-div p {
  font-weight: bold;
  font-size: 0.9rem;
}

.contact-icon {
  width: 3em;
  height: 3em;
  padding: 0.7em;
  border-radius: 50%;
  background-color: #DC143C;
  position: fixed;
  bottom: 1em;
  right: 1em;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
  z-index: 998;
}

.contact-icon svg {
  color: white;
}

.contact-icon:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.social-media-icons {
  display: none;
  position: fixed;
  bottom: 1rem;
  left: 0;
}

.social-media-icons li {
  list-style: none;
  width: 2.5em;
  height: 2.5em;
  padding: 0.5em;
  border-radius: 50%;
  background-color: #DC143C;
  margin: 0.5em;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.social-media-icons li:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.social-media-icons li svg {
  width: 100%;
  color: white;
}

@media screen and (min-width: 900px) {
  .top-poster .top-poster-content {
    width: 10%;
    height: 10%;
  }
  .top-poster #scroll {
    height: 50%;
  }
  .main-main-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-main-section h1 {
    font-size: 2rem;
  }
  .main-main-section p {
    font-size: 1rem;
  }
  .main-main-section #main-img {
    width: 50%;
  }
  .main-main-section .main-para {
    margin: auto 0;
  }
  .main-about-us {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .main-about-us img {
    width: 50%;
  }
  .main-about-us .about-div {
    margin: auto 0;
  }
  .main-about-us .about-div h1 {
    font-size: 2rem;
  }
  .main-about-us .about-div p {
    font-size: 1rem;
  }
  .main-second-section h1 {
    font-size: 2rem;
  }
  .main-second-section p {
    font-size: 1rem;
  }
  .main-second-section #sec-sec h1 {
    font-size: 2rem;
  }
  .main-second-section #sec-sec .products {
    width: 50%;
  }
  .main-third-section {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-third-section h1 {
    font-size: 2rem;
  }
  .main-third-section p {
    font-size: 1rem;
  }
  .main-third-section-div {
    padding: 1rem;
    margin: auto 0;
  }
  #main-forth-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
/*# sourceMappingURL=main.css.map */