@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

footer {
  text-align: center;
}

.menu-icon {
  display: inline-block;
  cursor: pointer;
  width: 3em;
  transition: 0.1s linear;
}
.menu-icon svg {
  margin: auto 0;
  color: #6C63FF;
  width: 100%;
}
.menu-icon:hover {
  transform: scale(1.2, 1.2);
}

.nav-list {
  position: fixed;
  top: 0;
  left: 100%;
  background-color: white;
  width: 100%;
  height: 100vh;
  z-index: 999;
  font-weight: bold;
  transition: 0.2s linear;
}
.nav-list .menu-icon {
  width: 2em;
  position: absolute;
  right: 1em;
  top: 1em;
}
.nav-list ul {
  width: 100%;
  height: 70%;
  padding-top: 5em;
  display: flex;
  flex-direction: column;
}
.nav-list ul li {
  margin: 0 auto;
  padding-top: 2em;
}
.nav-list ul li a {
  font-size: 2em;
  text-decoration: none;
  color: #6C63FF;
  transition: 0.1s linear;
}
.nav-list ul li a:hover {
  font-size: 2.5em;
}

.navlist {
  display: none;
  padding-top: 1em;
  position: absolute;
  right: 0;
  top: 0;
}
.navlist div {
  display: flex;
}
.navlist div li {
  list-style: none;
  padding: 0 2em;
}
.navlist div li a {
  text-decoration: none;
  color: #6C63FF;
}

@media screen and (min-width: 800px) {
  .navlist {
    display: block;
  }

  .nav-list, .menu-icon {
    display: none;
  }
}
.top-poster {
  height: 50vh;
  width: 100%;
  overflow: hidden;
  background-image: url(../../images/posterlogo.png);
  background-size: cover;
  background-position: center;
}

#headr {
  overflow: hidden;
  background-color: white;
  height: 4em;
  margin: auto 0;
  display: flex;
  place-content: space-between;
  padding: 0 1em;
}
#headr img {
  height: 100%;
}

.main-main-section {
  text-align: center;
  padding: 3em;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.main-main-section img {
  width: 100%;
  border-radius: 3em;
  padding: 1em;
}
.main-main-section h1 {
  color: #6C63FF;
  font-weight: bold;
}

.main-second-section {
  text-align: center;
  padding: 2em;
  width: 90%;
  margin: 0 auto;
}
.main-second-section h1 {
  color: #6C63FF;
  font-weight: bold;
}
.main-second-section #sec-sec {
  display: flex;
  flex-direction: column;
}
.main-second-section #sec-sec .products {
  padding: 1em;
  margin: 0 auto;
  width: 100%;
}
.main-second-section #sec-sec .products img {
  width: 90%;
  padding: 1em;
}

.contact-icon {
  width: 3em;
  height: 3em;
  padding: 0.7em;
  border-radius: 50%;
  background-color: #6C63FF;
  position: fixed;
  bottom: 1em;
  right: 1em;
  transition: 0.1s linear;
}
.contact-icon svg {
  color: white;
}
.contact-icon:hover {
  transform: scale(1.2, 1.2);
}

.social-media-icons {
  position: fixed;
  bottom: 1em;
  left: 0;
}
.social-media-icons li {
  list-style: none;
  width: 2.5em;
  height: 2.5em;
  padding: 0.5em;
  border-radius: 50%;
  background-color: #6C63FF;
  margin: 0.5em;
  transition: 0.1s linear;
}
.social-media-icons li:hover {
  transform: scale(1.2, 1.2);
}
.social-media-icons li svg {
  width: 100%;
  color: white;
}

@media screen and (min-width: 800px) {
  .top-poster {
    height: 80vh;
  }

  .main-main-section {
    flex-direction: row;
  }
  .main-main-section img {
    width: 50%;
  }
  .main-main-section .main-para {
    margin: auto 0;
  }

  .main-second-section #sec-sec {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main-second-section #sec-sec .products {
    width: 30%;
  }
}/*# sourceMappingURL=main.css.map */